body {
    width: 100%;
    height: 100vh;
    margin: 5px;
    background: url("/bgv1.jpg");
    background-size: cover;
    
}

h1 {
    font-size: 2.7em;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px 2px black;
}

.home {
    padding-top: 20px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

img {
    width: 500px;
    height: 300px;
    border: solid black 2px;
    border-radius: 15%;
    filter: drop-shadow(20px 20px 15px );
}

.text {
    font-size: 1.5em;
    padding-left: 80px;
    color:red;
}
.text p{
    text-shadow: 1px 1px 2px darkred;
}
.text p1 {
    color: black;
}

.para {
    padding: 10px;
}

.p1 {
    font-size: 1.2em;

}

@media screen and (max-width:600px) {

    h1 {
        font-size: 1.5em;
        text-align: left;
    }

    .home {
        display: contents;
    }

    .text {
        padding: 0;
        font-size: 1em;
        color: red;
    }

    img {
        width: 250px;
        height: 200px;
    }

    .text p1 {
        font-size: 1.1em;
        padding-bottom: 10px;
    }

    .para {
        padding: 0 10px 0 0;
    }


}